<html>
    <head>
        {% if title %}
        <title>{{ title }} - Book Reviews</title>
        {% else %}
        <title>Book Reviews</title>
        {% endif %}
        <!-- Bootstrap CSS -->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% if userlogged %}
            <div class="top-bar">
                <div class="container">
                    <nav class="nav blog-nav">
                        <a class="nav-link active" href="{{ url_for('search') }}">Home</a>
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        <a class="nav-link" href="{{ url_for('bookPage', isbn=1) }}">Book</a>
                    </nav>
                </div>
            </div>
        {% endif %}
        
        
        
        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p>Arthur Lima - CS50 Online Course</p>
                        <p>
                        <a href="#">Back to top</a>
                        </p>
                    </div>
                    <div class="col-4">
                        <p>Contato:</p>
                        <ul>
                            <li><b>Email:</b> arthursl@ufmg.br</li>
                            <li><b>Tel:</b> 123456789</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>