{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
{% endblock %}


{% block content %}
    {% if not user %}
    <div class="top-bar">
        <div class="container">
            <nav class="nav blog-nav">
                <a class="nav-link active" href="{{ url_for('login') }}">Sign in to post a review</a>
            </nav>
        </div>
    </div>
    {% endif %}




    {% if alert %}
    <div class="container">
        <div class="row">
            <div id="marcador" class="col-sm align-items-center" >
                <div class="alert alert-success">
                    {{ alert }}
                </div>
            </div>
        </div>
    </div>
        
    
    {% endif %}
   
    

    <div id="book" class="container">
        <div class="row">
            <div id="marcador" class="col-sm-1 align-items-center text-center" >
                <p class='book-emoji'>📖</p>
            </div>
            <div class="col-sm-11">
                <h1 id="title">
                    {{book.title}}
                    ({{book.year}})
                </h1>
            </div>
            <div class="col-sm-1"></div>
        </div>
        
        <div class="row">
            <div class="categoria col-sm-2">
                <p>General info:</p>
            </div>
            <div class="col-sm">
                <p id="book_contents">
                    <span>ISBN: {{book.isbn}}</span><br>
                    <span>Author: {{book.author}}</span><br>
                    <span>Year: {{book.year}}</span><br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="categoria col-sm-2">
                <p>GoodReads Rating:</p>
            </div>
            <div class="col-sm">
                <p id="book_contents">
                    {{ book_json['average_rating'] }} out of 5, considering {{ book_json['ratings_count'] }} ratings
                </p>
            </div>
        </div>


    </div>
    <div class="container">
        {% if user %}
            <a class="post_review_button btn btn-primary" href="{{ url_for('review', isbn=book.isbn) }}" role="button">Post a review</a><br>
        {% endif %}

        {% if reviews %}
            {% for review in reviews %}
            <div class="row">
                <p>{{ review }}</p>
            </div>
            {% endfor %}
        {% endif %}

    </div>
    



    
    

{% endblock %}