{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}


{% block content %}
    <div class="container float-none">
        <h1 id="saudation">Hi, {{ user.login }}!</h1>
    </div>
    <br>

    <div class="container">
        <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
            <p>Search for books:</p>
        </div>
        <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
            <div class="col-sm-4"> 
                <form id='search_form' action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.search (class="form-control") }}
                    <input class="btn btn-primary" type="submit" value="Search">
                </form>
            </div>
        </div>   
    </div>
    
    {% if results is not none %}
    <div class="container">
        <h2>Search Results:</h2>
        {% if results | length == 0 %}
            <p>Sorry, no matches found! :(</p>
        {% else %}
            {% for book in results %}
            {{ book.isbn }} {{ book.title }} {{ book.author }}
            <br>
            {% endfor %}
        {% endif %}
    </div>
    
    {% endif %}

    

{% endblock %}