{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}


{% block content %}
    <div class="container float-none">
        <h1 id="saudation">Hi, {{ user.login }}!</h1>
    </div>
    <br>

    <div class="container">
        <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
            <p>Search for books:</p>
        </div>
        <div class="d-flex text-center flex-wrap align-items-center justify-content-center">
            <div id="search_form" class="col-sm-4"> 
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    {{ form.search (class="form-control") }}
                    <input class="btn btn-primary" type="submit" value="Search">
                </form>
            </div>
        </div>   
    </div>
    
    {% if results is not none %}
    <div class="container">
        <div>
            <h2 id="result_title">Search Results:</h2>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            {% if results | length == 0 %}
            <p>Sorry, no matches found! :(</p>
            {% else %}
                <table id="result_table" class="text-center border">
                    <tr class="border-bottom">
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                    </tr>
                
                {% for book in results %}
                

                
                    <tr onclick="location.href='{{url_for('bookPage', isbn=book.isbn)}}' " class="real_rows">
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.year }}</td>
                    </tr>
                
                {% endfor %}
                </table>
            {% endif %}
        </div>
        
    </div>
    
    {% endif %}

    

{% endblock %}