#title{
    text-shadow: black;
}

#book{
    background-color: #fff7eb;
    margin-bottom: 30px;
}

.book-emoji{
    font-size: 30px;
    // background-color: purple;
    padding-top: 5px;
}

@media (max-width: 770px) {
    #title{
        font-weight: 600;
        font-size: x-large;
    }
    .categoria{
        text-decoration: underline;
    }
}